<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="TNW_Idealdata::config" title="TNW IdealData Configuration" sortOrder="10"/>
                <resource id="TNW_Idealdata::failed_transactions_read" title="TNW IdealData: View Failed Transactions" sortOrder="20"/>
            </resource>
        </resources>
    </acl>
</config>
